.e-dialog .e-icon-dlg-close::before {
  content: '\e7a7';
  position: relative;
}

.e-dialog .e-icon-dlg-close {
  opacity: initial;
}

.e-dialog .e-icon-dlg-close:active {
  opacity: initial;
}

.e-dialog .e-icon-dlg-close:hover {
  opacity: initial;
}

.e-dialog .e-south-east::before,
.e-dialog .e-south-west::before,
.e-dialog .e-north-east::before,
.e-dialog .e-north-west::before {
  content: '\eb06';
}

/*! dialog layout */
.e-dialog {
  border: none;
  border-radius: 0;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}

.e-dialog.e-popup {
  width: 100%;
}

.e-dialog.e-dlg-resizable {
  -ms-touch-action: none;
      touch-action: none;
}

.e-dialog .e-dlg-header-content {
  border-radius: 1px 1px 0 0;
  line-height: normal;
}

.e-dialog .e-dlg-header-content + .e-dlg-content {
  padding-top: 0;
}

.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
  font-size: 16px;
  width: 16px;
}

.e-dialog .e-dlg-header {
  display: block;
  font-size: 21px;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 80%;
}

.e-dialog .e-dlg-modal {
  position: fixed;
}

.e-dialog .e-scroll-disabled {
  overflow: hidden !important;
}

.e-dialog .e-dlg-content {
  display: block;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  overflow: auto;
  overflow-x: hidden;
}

.e-dialog .e-footer-content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: none;
  bottom: 0;
  display: block;
  right: 0;
  width: 100%;
}

.e-dialog .e-footer-content {
  text-align: right;
}

.e-dialog .e-resize-handle {
  height: 15px;
  position: absolute;
  width: 15px;
}

.e-dialog .e-resize-handle.e-south-east {
  bottom: 0;
  cursor: nwse-resize;
  right: 0;
}

.e-dialog .e-resize-handle.e-south-west {
  bottom: 0;
  cursor: nesw-resize;
  left: 0;
  transform: rotate(90deg);
}

.e-dialog .e-resize-handle.e-north-east {
  cursor: nesw-resize;
  right: 0;
  top: 0;
  transform: rotate(-90deg);
}

.e-dialog .e-resize-handle.e-north-west {
  cursor: nwse-resize;
  left: 0;
  top: 0;
  transform: rotate(180deg);
}

.e-dialog .e-south,
.e-dialog .e-north,
.e-dialog .e-east,
.e-dialog .e-west {
  background-color: transparent;
  background-repeat: repeat;
  overflow: visible;
  position: absolute;
}

.e-dialog .e-east,
.e-dialog .e-west {
  cursor: ew-resize;
}

.e-dialog .e-south,
.e-dialog .e-north {
  cursor: ns-resize;
}

.e-dialog.e-blazor-hidden {
  left: 0;
  position: absolute;
}

.e-bigger.e-dialog .e-dlg-header-content,
*.e-bigger .e-dialog .e-dlg-header-content {
  padding: 25px 23.25px 11px;
}

.e-bigger.e-dialog .e-dlg-header,
*.e-bigger .e-dialog .e-dlg-header {
  font-size: 21px;
}

.e-bigger.e-dialog .e-dlg-content,
*.e-bigger .e-dialog .e-dlg-content {
  font-size: 14px;
  padding: 35px 31.25px 12.5px;
}

.e-bigger.e-dialog .e-footer-content,
*.e-bigger .e-dialog .e-footer-content {
  padding: 25px 31.25px 25px;
}

.e-bigger.e-dialog .e-footer-content .e-btn,
*.e-bigger .e-dialog .e-footer-content .e-btn {
  margin-left: 10px;
}

.e-bigger.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn,
*.e-bigger .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
  bottom: 4px;
  height: 40px;
  left: 12px;
  width: 40px;
}

.e-bigger.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close,
*.e-bigger .e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
  font-size: 16px;
  width: 16px;
}

.e-bigger.e-rtl .e-footer-content .e-btn,
.e-bigger .e-rtl .e-footer-content .e-btn {
  margin-left: 0;
  margin-right: 10px;
}

.e-bigger .e-dlg-header-content + .e-dlg-content {
  padding-top: 0;
}

.e-dialog .e-dlg-header-content {
  border-bottom: none;
  padding: 20px 23px 19px;
}

.e-dialog .e-dlg-content {
  padding: 28px 25px 10px;
}

.e-dialog .e-footer-content {
  padding: 20px 25px 20px;
}

.e-dialog .e-footer-content .e-btn {
  margin-left: 8px;
}

.e-rtl .e-footer-content .e-btn {
  margin-right: 8px;
}

.e-dialog.e-draggable .e-dlg-header-content {
  cursor: move;
}

.e-dialog {
  max-height: 98%;
  max-width: 100%;
  min-width: 240px;
}

.e-rtl .e-footer-content .e-btn {
  margin-left: 0;
}

.e-rtl .e-footer-content {
  text-align: left;
}

.e-rtl .e-footer-content {
  text-align: left;
}

.e-dialog.e-rtl .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
  float: left;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  bottom: 0;
  float: right;
  height: 32px;
  left: 7px;
  position: relative;
  width: 32px;
}

.e-rtl.e-dialog .e-resize-handle.e-south-west {
  bottom: 2px;
  cursor: sw-resize;
  left: 2px;
  transform: rotate(90deg);
}

.e-dlg-target.e-scroll-disabled {
  overflow: hidden !important;
}

.e-dlg-overlay {
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  transition: opacity .15s linear;
  width: 100%;
}

.e-dlg-overlay.e-fade {
  opacity: 0;
}

.e-dlg-overflow-hidden {
  overflow: auto;
}

.e-dlg-fullscreen {
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
}

.e-popup.e-popup-open.e-dialog {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.e-dlg-container {
  -ms-flex-align: start;
      align-items: flex-start;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.e-dlg-center-center {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.e-dlg-left-center {
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.e-dlg-right-center {
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.e-dlg-left-top {
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.e-dlg-right-top {
  -webkit-align-items: flex-start;
  -webkit-justify-content: flex-end;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.e-dlg-center-top {
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.e-dlg-left-bottom {
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-start;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.e-dlg-right-bottom {
  -webkit-align-items: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.e-dlg-center-bottom {
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.e-dialog .e-btn.e-dlg-closeicon-btn:hover,
.e-dialog .e-btn.e-dlg-closeicon-btn:focus,
.e-dialog .e-btn.e-dlg-closeicon-btn:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
}

.e-content-placeholder.e-dialog.e-placeholder-dialog {
  background-size: 400px 210px;
  min-height: 210px;
}

.e-bigger .e-content-placeholder.e-dialog.e-placeholder-dialog,
.e-bigger.e-content-placeholder.e-dialog.e-placeholder-dialog {
  background-size: 400px 220px;
  min-height: 220px;
}

@media (min-width: 768px) {
  .e-alert-dialog.e-dialog.e-popup,
  .e-confirm-dialog.e-dialog.e-popup {
    margin: 30px auto;
    width: 600px;
  }
}

@media (max-width: 768px) {
  .e-alert-dialog.e-dialog.e-popup,
  .e-confirm-dialog.e-dialog.e-popup {
    margin: 30px auto;
    width: auto;
  }
}

.e-dlg-ref-element {
  display: none;
}

.e-dialog {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.e-dlg-overlay {
  background-color: #383838;
}

.e-footer-content {
  background-color: #fff;
}

.e-dlg-header,
.e-dlg-header * {
  color: #333;
  font-size: 21px;
  font-weight: 100;
}

.e-dlg-content {
  color: #333;
}

.e-device .e-dlg-content,
.e-device .e-dlg-content * {
  font-size: 15px;
}

.e-dlg-header-content {
  background-color: #fff;
}

.e-dlg-content {
  background-color: #fff;
}

.e-icon-dlg-close {
  color: #333;
}

.e-dialog .e-btn.e-dlg-closeicon-btn:hover span {
  color: #0078d6;
}

.e-dialog .e-btn.e-dlg-closeicon-btn:active span,
.e-dialog .e-btn.e-dlg-closeicon-btn:focus span {
  border-radius: 50%;
  color: #0078d6;
  opacity: 1;
}

.e-icon-dlg-close:active {
  border-radius: 50%;
  color: #0078d6;
  opacity: 1;
}

.e-icon-dlg-close:hover {
  color: #00457a;
}

.e-dlg-header-content .e-dlg-closeicon-btn:hover {
  background-color: transparent;
}

.e-dlg-header-content .e-dlg-closeicon-btn:active {
  background-color: transparent;
}

.e-south-east {
  color: #333;
}

.e-rtl .e-south-east {
  color: transparent;
}

.e-rtl .e-south-west {
  color: #333;
}

.e-south-west,
.e-north-east,
.e-north-west {
  color: transparent;
}
