/*! splitbutton layout */
.e-split-btn-wrapper {
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  width: min-content;
}

.e-split-btn-wrapper .e-split-btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-transform: none;
  z-index: 1;
  padding-left: 10px;
  padding-right: 4px;
}

.e-split-btn-wrapper .e-split-btn:focus {
  outline-offset: -4px;
}

.e-split-btn-wrapper .e-split-btn:hover, .e-split-btn-wrapper .e-split-btn:focus {
  box-shadow: none;
}

.e-split-btn-wrapper .e-split-btn:active {
  box-shadow: none;
  z-index: 2;
}

.e-split-btn-wrapper .e-split-btn.e-top-icon-btn {
  padding-bottom: 10px;
  padding-top: 10px;
}

.e-split-btn-wrapper .e-split-btn .e-btn-icon {
  font-size: 14px;
  margin-left: 0;
  padding-right: 8px;
  width: auto;
}

.e-split-btn-wrapper .e-split-btn .e-icon-top {
  padding-bottom: 4px;
  padding-right: 0;
}

.e-split-btn-wrapper .e-split-btn.e-icon-btn {
  padding-left: 8px;
  padding-right: 8px;
}

.e-split-btn-wrapper .e-split-btn.e-icon-btn .e-btn-icon {
  padding-right: 0;
}

.e-split-btn-wrapper .e-dropdown-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.e-split-btn-wrapper .e-dropdown-btn:focus, .e-split-btn-wrapper .e-dropdown-btn:hover {
  box-shadow: none;
}

.e-split-btn-wrapper .e-dropdown-btn:active {
  box-shadow: none;
  z-index: 2;
}

.e-split-btn-wrapper .e-dropdown-btn:disabled:focus, .e-split-btn-wrapper .e-dropdown-btn:disabled:hover, .e-split-btn-wrapper .e-dropdown-btn:disabled:active {
  z-index: 0;
}

.e-split-btn-wrapper .e-dropdown-btn:focus {
  outline-offset: -4px;
}

.e-split-btn-wrapper .e-btn {
  box-shadow: none;
}

.e-split-btn-wrapper .e-btn:hover, .e-split-btn-wrapper .e-btn:focus {
  box-shadow: none;
}

.e-split-btn-wrapper .e-btn:active {
  box-shadow: none;
}

.e-split-btn-wrapper .e-btn:disabled {
  box-shadow: none;
}

.e-split-btn-wrapper.e-rtl .e-split-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: 0;
  padding-left: 4px;
  padding-right: 10px;
}

.e-split-btn-wrapper.e-rtl .e-split-btn .e-btn-icon {
  margin-right: 0;
  padding-left: 8px;
  padding-right: 0;
}

.e-split-btn-wrapper.e-rtl .e-split-btn .e-icon-top {
  padding-left: 0;
}

.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn {
  padding-left: 8px;
  padding-right: 8px;
}

.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn .e-btn-icon {
  padding-left: 0;
}

.e-split-btn-wrapper.e-rtl .e-dropdown-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: 0;
}

.e-split-btn-wrapper.e-vertical {
  display: inline-block;
}

.e-split-btn-wrapper.e-vertical .e-split-btn,
.e-split-btn-wrapper.e-vertical .e-dropdown-btn {
  display: block;
  width: 100%;
}

.e-split-btn-wrapper.e-vertical .e-split-btn {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  line-height: 1;
  padding-bottom: 4px;
  padding-right: 10px;
}

.e-split-btn-wrapper.e-vertical .e-split-btn .e-icon-top {
  padding-bottom: 4px;
}

.e-split-btn-wrapper.e-vertical .e-dropdown-btn {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  line-height: 0.213em;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}

.e-split-btn-wrapper.e-vertical .e-dropdown-btn .e-icon-bottom {
  padding-top: 0;
}

.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn {
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.e-split-btn-wrapper.e-vertical.e-rtl .e-dropdown-btn {
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

.e-bigger .e-split-btn-wrapper .e-split-btn,
.e-bigger.e-split-btn-wrapper .e-split-btn {
  padding-left: 12px;
  padding-right: 6px;
}

.e-bigger .e-split-btn-wrapper .e-split-btn.e-top-icon-btn,
.e-bigger.e-split-btn-wrapper .e-split-btn.e-top-icon-btn {
  padding-bottom: 12px;
  padding-top: 12px;
}

.e-bigger .e-split-btn-wrapper .e-split-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper .e-split-btn .e-btn-icon {
  font-size: 16px;
  margin-left: 0;
  padding-right: 10px;
  width: auto;
}

.e-bigger .e-split-btn-wrapper .e-split-btn .e-icon-top,
.e-bigger.e-split-btn-wrapper .e-split-btn .e-icon-top {
  padding-bottom: 6px;
  padding-right: 0;
}

.e-bigger .e-split-btn-wrapper .e-split-btn.e-icon-btn,
.e-bigger.e-split-btn-wrapper .e-split-btn.e-icon-btn {
  padding-left: 11px;
  padding-right: 11px;
}

.e-bigger .e-split-btn-wrapper .e-split-btn.e-icon-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper .e-split-btn.e-icon-btn .e-btn-icon {
  padding-right: 0;
}

.e-bigger .e-split-btn-wrapper .e-dropdown-btn,
.e-bigger.e-split-btn-wrapper .e-dropdown-btn {
  padding-left: 4px;
  padding-right: 4px;
}

.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn {
  padding-left: 6px;
  padding-right: 12px;
}

.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn .e-btn-icon {
  padding-left: 10px;
  padding-right: 0;
}

.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn .e-icon-top,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn .e-icon-top {
  padding-left: 0;
}

.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn {
  padding-left: 11px;
  padding-right: 11px;
}

.e-bigger .e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn .e-btn-icon,
.e-bigger.e-split-btn-wrapper.e-rtl .e-split-btn.e-icon-btn .e-btn-icon {
  padding-left: 0;
}

.e-bigger .e-split-btn-wrapper.e-vertical .e-split-btn,
.e-bigger.e-split-btn-wrapper.e-vertical .e-split-btn {
  padding-bottom: 6px;
  padding-right: 12px;
}

.e-bigger .e-split-btn-wrapper.e-vertical .e-dropdown-btn,
.e-bigger.e-split-btn-wrapper.e-vertical .e-dropdown-btn {
  padding-bottom: 4px;
  padding-top: 4px;
}

.e-bigger .e-split-btn-wrapper.e-vertical .e-dropdown-btn .e-icon-bottom,
.e-bigger.e-split-btn-wrapper.e-vertical .e-dropdown-btn .e-icon-bottom {
  padding-top: 0;
}

/*! splitbutton theme */
.e-split-btn-wrapper .e-split-btn {
  border-right-color: transparent;
}

.e-split-btn-wrapper .e-split-btn:focus {
  border-right-color: #c8c8c8;
}

.e-split-btn-wrapper .e-split-btn:active {
  border-right-color: #c8c8c8;
}

.e-split-btn-wrapper .e-split-btn:disabled {
  border-right-color: #f4f4f4;
}

.e-split-btn-wrapper:hover :not(e-active) .e-split-btn {
  border-right-color: #c8c8c8;
}

.e-split-btn-wrapper:hover :not(e-active) .e-split-btn:disabled {
  border-right-color: #f4f4f4;
}

.e-split-btn-wrapper.e-rtl .e-split-btn {
  border-color: transparent;
}

.e-split-btn-wrapper.e-rtl .e-split-btn:focus {
  border-color: transparent;
}

.e-split-btn-wrapper.e-rtl .e-split-btn:active {
  border-color: transparent;
}

.e-split-btn-wrapper.e-rtl .e-split-btn:disabled {
  border-left-color: #f4f4f4;
  border-right-color: transparent;
}

.e-split-btn-wrapper.e-rtl:hover .e-split-btn :not(e-active) {
  border-left-color: #c8c8c8;
  border-right-color: #eaeaea;
}

.e-split-btn-wrapper.e-rtl:hover .e-split-btn :not(e-active):disabled {
  border-left-color: #f4f4f4;
}

.e-split-btn-wrapper.e-vertical .e-split-btn {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.e-split-btn-wrapper.e-vertical .e-split-btn:focus {
  border-bottom-color: #c8c8c8;
  border-right-color: transparent;
}

.e-split-btn-wrapper.e-vertical .e-split-btn:active {
  border-bottom-color: #c8c8c8;
  border-right-color: #c8c8c8;
}

.e-split-btn-wrapper.e-vertical .e-split-btn:disabled {
  border-bottom-color: #f4f4f4;
  border-right-color: transparent;
}

.e-split-btn-wrapper.e-vertical:hover .e-split-btn {
  border-bottom-color: #c8c8c8;
  border-right-color: #eaeaea;
}

.e-split-btn-wrapper.e-vertical:hover .e-split-btn:disabled {
  border-bottom-color: #f4f4f4;
}

.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn {
  border-left-color: transparent;
}

.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn:focus {
  border-left-color: transparent;
}

.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn:active {
  border-left-color: transparent;
}

.e-split-btn-wrapper.e-vertical.e-rtl .e-split-btn:disabled {
  border-left-color: transparent;
}

.e-split-btn-wrapper.e-vertical.e-rtl:hover .e-split-btn {
  border-left-color: transparent;
}
