﻿@include export-module('calendar-layout') { /*! calendar layout */

  #{&}ejs-calendar {
    display: block;
  }

  #{&}.e-calendar.e-disabled {
    #{if(&, '&', '*')} .e-header {
      #{if(&, '&', '*')} .e-prev,
      #{if(&, '&', '*')} .e-next {
        cursor: $calendar-cursor-default-style;
        pointer-events: $calendar-none-style;
        touch-action: $calendar-none-style;
       }

      #{if(&, '&', '*')} .e-title {
        cursor: $calendar-cursor-default-style;
        pointer-events: $calendar-none-style;
        touch-action: $calendar-none-style;
  }
}

    #{if(&, '&', '*')} .e-content td {
      pointer-events: $calendar-none-style;
      touch-action: $calendar-none-style;
}

    #{if(&, '&', '*')} .e-btn.e-today {
      pointer-events: $calendar-none-style;
      touch-action: $calendar-none-style;
}
}

  #{&}.e-calendar,
  .e-bigger.e-small #{&}.e-calendar {
    // sass-lint:disable no-vendor-prefixes
    -webkit-tap-highlight-color: transparent;
    border-radius: $calendar-wrapper-border-radius;
    display: $calendar-block-style;
    overflow: auto;
    user-select: $calendar-none-style;

    #{if(&, '&', '*')}.e-rtl .e-header .e-title {
      float: $calendar-float-right-style;
      text-align: $calendar-float-right-style;
    }#{if(&, '&', '*')}.e-rtl .e-header .e-icon-container {
      float: $calendar-float-left-style;
    }#{if(&, '&', '*')} .e-header {
      background: $calendar-none-style;
      display: table;
      font-weight: $calendar-spanicon-font-weight-style;
      position: relative;
      text-align: center;
      width: $calendar-full-width;

      #{if(&, '&', '*')} button {
        background: transparent;
        border: 0;
        padding: 0;
        text-decoration: $calendar-none-style;
        }#{if(&, '&', '*')} span {
        cursor: $calendar-cursor-pointer-style;
        display: inline-block;
        font-size: $calendar-icon-font-size-style;
        font-weight: $calendar-spanicon-font-weight-style;
        line-height: $calendar-icon-line-height;
        padding: $calendar-icon-padding;
        vertical-align: middle;

        #{if(&, '&', '*')}.e-disabled {
          cursor: $calendar-cursor-default-style;
    }
}
}#{if(&, '&', '*')} .e-week-header {
      padding: $calendar-thead-padding;
}#{if(&, '&', '*')} th {
      cursor: $calendar-cursor-default-style;
      font-size: $calendar-header-font-size;
      font-weight: normal;
      text-align: center;
}#{if(&, '&', '*')} .e-content {
      #{if(&, '&', '*')} .e-selected ,
      #{if(&, '&', '*')} .e-state-hover {
        border-radius: 0;
      }#{if(&, '&', '*')} span.e-day {
        border-radius: 0;
        cursor: $calendar-cursor-pointer-style;
        display: $calendar-inline-block-style;
        font-size: $calendar-date-font-size;
        overflow: hidden;
        padding: 0;
        text-align: center;
        text-decoration: $calendar-none-style;
        vertical-align: middle;
}#{if(&, '&', '*')} th,
      #{if(&, '&', '*')} td {
        box-sizing: border-box;
}#{if(&, '&', '*')} td.e-disabled {
        opacity: $calendar-disable-opacity;
        pointer-events: $calendar-none-style;
        touch-action: $calendar-none-style;
}#{if(&, '&', '*')} td {
        cursor: pointer;
        padding: $calendar-yeardeacde-span-padding;
        text-align: center;#{if(&, '&', '*')}.e-week-number {
          color: $calendar-week-number-font-color;
          font-size: $calendar-week-number-font-size-style;
          font-style: $calendar-week-number-font-style;
          font-weight: 500;
}#{if(&, '&', '*')}.e-overlay {
          background: $calendar-none-style;
          width: initial;
}
}

      table {
        border-collapse: separate;
        border-spacing: 0;
        border-width: 0;
        float: $calendar-float-left-style;
        margin: 0;
        outline: 0;
        padding: $calendar-table-padding;
        table-layout: fixed;
        width: $calendar-full-width;
}#{if(&, '&', '*')} td.e-other-month > span.e-day,
      #{if(&, '&', '*')} td.e-other-year > span.e-day {
        display: $calendar-other-month-display-style;
        font-weight: $calendar-link-font-weight-style;
}#{if(&, '&', '*')} tr.e-month-hide {
        display: $calendar-other-month-row-display-style;
        font-weight: $calendar-link-font-weight-style;
}#{if(&, '&', '*')} tr.e-month-hide,
      #{if(&, '&', '*')} td.e-other-month,
      #{if(&, '&', '*')} td.e-other-year {
        pointer-events: $calendar-pointer-events;
        touch-action: $calendar-pointer-events;
}#{if(&, '&', '*')} tr.e-month-hide,
      #{if(&, '&', '*')} td.e-other-month.e-disabled,
      #{if(&, '&', '*')} td.e-other-year.e-disabled {
        pointer-events: $calendar-none-style;
        touch-action: $calendar-none-style;
}#{if(&, '&', '*')} td.e-week-number:hover span.e-day,
      #{if(&, '&', '*')} td.e-week-number:hover {
        background-color: $calendar-bg-color;
        cursor: $calendar-cursor-default-style;
}
}#{if(&, '&', '*')} .e-header {
      #{if(&, '&', '*')} .e-prev,
      #{if(&, '&', '*')} .e-next {
        border-radius: $calendar-border-radius;
        display: inline-block;
        font-size: $calendar-next-prev-icon-size;
        vertical-align: middle;
  }#{if(&, '&', '*')} .e-title {
        cursor: $calendar-cursor-pointer-style;
        display: $calendar-inline-block-style;
        float: $calendar-float-left-style;
        font-size: $calendar-title-font-size;
        font-weight: $calendar-title-font-weight-style;
        text-align: $calendar-float-left-style;
}#{if(&, '&', '*')} .e-title {
        margin-left: $calendar-title-margin-left-style;
}#{if(&, '&', '*')} .e-prev:hover,
      #{if(&, '&', '*')} .e-next:hover {
        cursor: $calendar-cursor-pointer-style;
}#{if(&, '&', '*')} .e-prev.e-overlay,
      #{if(&, '&', '*')} .e-next.e-overlay {
        background: $calendar-none-style;
}
}#{if(&, '&', '*')} .e-header.e-decade .e-title,
    #{if(&, '&', '*')} .e-header.e-year .e-title {
      margin-left: $calendar-decade-title-left-margin-style;
}#{if(&, '&', '*')} .e-header.e-decade .e-title {
      cursor: $calendar-cursor-default-style;
}#{if(&, '&', '*')} .e-header .e-icon-container {
      display: $calendar-inline-block-style;
      float: $calendar-float-right-style;
}#{if(&, '&', '*')} .e-footer-container {
      text-transform: uppercase;
}
    }

  //normal style
  #{&}.e-calendar,
  .e-bigger.e-small #{&}.e-calendar {
    max-width: $calendar-normal-max-width;
    min-width:  $calendar-normal-min-width;
    padding: $calendar-popup-padding;

    #{if(&, '&', '*')}.e-calendar-day-header-lg {
      max-width: $calendar-lg-day-header-format-max-width;
      min-width: $calendar-lg-day-header-format-min-width;
    }#{if(&, '&', '*')}.e-week-number {
      min-width: $calendar-weeknumber-min-width;
    }

    #{if(&, '&', '*')}.e-week {
      max-width: $calendar-week-normal-max-width;
      min-width:  $calendar-week-normal-min-width;
    }#{if(&, '&', '*')} .e-header .e-title {
      line-height: $calendar-normal-header-height;
}#{if(&, '&', '*')}.e-rtl .e-header .e-title {
      text-align: $calendar-float-right-style;
      text-indent: 4px;
}#{if(&, '&', '*')} .e-header {
      height: $calendar-normal-header-height;

      #{if(&, '&', '*')}.e-month {
        padding: $calendar-normal-header-padding;
	  }

      #{if(&, '&', '*')}.e-year,

      #{if(&, '&', '*')}.e-decade {
        padding: $calendar-yeardecade-header-padding;
	  }
}#{if(&, '&', '*')} th {
      font-weight: $calendar-normal-day-header-font-weight;
      height: $calendar-normal-day-header-height;
}#{if(&, '&', '*')} .e-content {
      #{if(&, '&', '*')} .e-selected ,
      #{if(&, '&', '*')} .e-state-hover {
        border-radius: 0;
      }#{if(&, '&', '*')} span.e-day {
        border: $calendar-default-border-color;
        font-size: $calendar-date-font-size;
        font-weight: $calendar-link-font-weight-style;
        height: $calendar-normal-month-view-height;
        line-height: $calendar-normal-month-view-height;
        width: $calendar-normal-month-view-width;
      }
}#{if(&, '&', '*')} .e-content.e-year table,
    #{if(&, '&', '*')} .e-content.e-decade table {
      border-spacing: 0;
      padding: $calendar-yeardecade-padding;
}#{if(&, '&', '*')} .e-content.e-month td {
      height: $calendar-normal-month-view-height;
      padding: $calendar-normal-month-cell-padding;
}#{if(&, '&', '*')} .e-content .tfooter > tr > td {
      height: $calendar-normal-today-button-height;
      line-height: $calendar-normal-today-button-height;
}#{if(&, '&', '*')} .e-content.e-year td,
    #{if(&, '&', '*')} .e-content.e-decade td {
      height: $calendar-normal-year-decade-height;
      padding: $calendar-normal-year-decade-padding;
}#{if(&, '&', '*')} .e-content.e-year td > span.e-day,
    #{if(&, '&', '*')} .e-content.e-decade td > span.e-day {
      font-weight: $calendar-yeardecade-font-weight;
      height: $calendar-normal-year-decade-height;
      line-height: $calendar-normal-year-decade-height;
      width: $calendar-normal-year-decade-width;
}#{if(&, '&', '*')} .e-header .e-icon-container {
      #{if(&, '&', '*')} .e-prev,
      #{if(&, '&', '*')} .e-next {
        height: $calendar-normal-icon-size;
        width: $calendar-normal-icon-size;
    }
}#{if(&, '&', '*')} .e-footer-container {
      border-top: $calendar-footer-border;
      cursor: $calendar-cursor-default-style;
      display: $calendar-display-style;
      flex-direction: row;
      justify-content: flex-end;
      padding: $calendar-footer-container-padding;
      text-align: center;
      width: $calendar-full-width;
}
}

  .e-small.e-bigger#{&}.e-calendar,
  .e-small.e-bigger #{&}.e-calendar {
    #{if(&, '&', '*')} .e-content.e-year {
      #{if(&, '&', '*')} span.e-day {
        font-size: $calendar-bigger-small-yeardecade-font-size;
      }
    }

    #{if(&, '&', '*')} .e-content.e-month table {
      padding: $calendar-bigger-small-table-padding;
    }
  }

  //bigger style
  .e-bigger#{&}.e-calendar,
  #{if(&, '&', '*')}.e-bigger #{&}.e-calendar {
    max-width: $calendar-bigger-max-width;
    min-width: $calendar-bigger-min-width;
    padding: $calendar-popup-bigger-padding;

    #{if(&, '&', '*')}.e-calendar-day-header-lg {
      max-width: $calendar-lg-day-header-format-max-width;
      min-width: $calendar-lg-day-header-format-min-width;
    }#{if(&, '&', '*')}.e-week {
      max-width: $calendar-week-bigger-max-width;
      min-width: $calendar-week-bigger-min-width;
    }#{if(&, '&', '*')}.e-week-number {
      min-width: $calendar-weeknumber-bigger-width;
    }#{if(&, '&', '*')} .e-header .e-title {
      font-size: $calendar-bigger-header-font-size;
      line-height: $calendar-bigger-header-height;
      width: 60%;
  }#{if(&, '&', '*')}.e-rtl .e-header .e-title {
      line-height: $calendar-bigger-header-height;
      text-indent: 6px;
  }#{if(&, '&', '*')} .e-header {
      height: $calendar-bigger-header-height;
      padding: $calendar-bigger-header-padding;

      #{if(&, '&', '*')} span {
        font-size: $calendar-bigger-icon-font-size;
        padding: $calendar-bigger-icon-padding;
	   }

      #{if(&, '&', '*')}.e-year,
      #{if(&, '&', '*')}.e-decade {
        padding: $calendar-bigger-yeardecade-header-padding;
	  }

  }#{if(&, '&', '*')} th {
      font-size: $calendar-bigger-week-header-font-size;
      height: $calendar-bigger-day-header-height;
  }#{if(&, '&', '*')} .e-content {
      #{if(&, '&', '*')}.e-year span.e-day {
        font-size: $calendar-bigger-yeardecade-font-size;
        font-weight: $calendar-bigger-yeardecade-font-weight;
              }

      #{if(&, '&', '*')}.e-month table {
        padding: $calendar-bigger-table-month-padding;
		  }

      #{if(&, '&', '*')}.e-year table,
      #{if(&, '&', '*')}.e-decade table	   {
        padding: $calendar-bigger-table-yeardecade-padding;
		  }

      #{if(&, '&', '*')} .e-selected ,
      #{if(&, '&', '*')} .e-state-hover {
        border-radius: 0;
      }#{if(&, '&', '*')} span.e-day {
        font-size: $calendar-bigger-month-font-size;
        height: $calendar-bigger-month-view-height;
        line-height: $calendar-bigger-month-view-height;
        width: $calendar-bigger-month-view-width;
  }
  }#{if(&, '&', '*')} .e-content.e-month td {
      height: $calendar-bigger-month-view-padding;
      padding: $calendar-bigger-month-view-padding;
  }#{if(&, '&', '*')} .e-content.e-year td,
    #{if(&, '&', '*')} .e-content.e-decade td {
      height: $calendar-bigger-year-decade-height;
      padding: $calendar-bigger-year-decade-padding;
  }#{if(&, '&', '*')} .e-content.e-year td > span.e-day,
    #{if(&, '&', '*')} .e-content.e-decade td > span.e-day {
      height: $calendar-bigger-year-decade-height;
      line-height: $calendar-bigger-year-decade-height;
      width: $calendar-bigger-year-decade-width;
  }#{if(&, '&', '*')} .e-header .e-icon-container {
      #{if(&, '&', '*')} .e-prev,
      #{if(&, '&', '*')} .e-next  {
        height: $calendar-bigger-icon-size;
        width: $calendar-bigger-icon-size;
    }
    }#{if(&, '&', '*')} .e-footer-container {
      border-top: $calendar-bigger-footer-border;
      padding: $calendar-bigger-footer-container-padding;
    }
  }

  // Mouse small style
  .e-small#{&}.e-calendar,
  .e-small #{&}.e-calendar {
    max-width: $calendar-normal-max-width;
    min-width:  $calendar-normal-min-width;
    padding: $calendar-small-popup-padding;

    #{if(&, '&', '*')}.e-calendar-day-header-lg {
      max-width: $calendar-lg-day-header-format-max-width;
      min-width: $calendar-lg-day-header-format-min-width;
    }#{if(&, '&', '*')} .e-content {
      #{if(&, '&', '*')} span.e-day {
        font-size: $calendar-small-date-font-size;
        height: $calendar-small-month-view-height;
        line-height: $calendar-small-month-view-height;
        width: $calendar-small-month-view-width;
      }
    }

    #{if(&, '&', '*')} .e-content.e-month td {
      height: $calendar-small-month-view-height;
    }

    #{if(&, '&', '*')} .e-header {
      height: $calendar-small-header-height;

      #{if(&, '&', '*')} span {
        font-size: $calendar-small-icon-font-size-style;
        padding: $calendar-small-icon-padding;
      }

      #{if(&, '&', '*')} .e-title {
        font-size: $calendar-small-title-font-size;
        line-height: $calendar-small-header-height;
      }
  }

    #{if(&, '&', '*')} .e-header .e-icon-container {
      #{if(&, '&', '*')} .e-prev,
      #{if(&, '&', '*')} .e-next {
        height: $calendar-small-icon-size;
        width: $calendar-small-icon-size;
      }
    }

    #{if(&, '&', '*')} th {
      font-size: $calendar-small-font-size;
      height: $calendar-small-day-header-height;
    }
  }

  #{&}.e-calendar {
    #{if(&, '&', '*')} .e-btn.e-today.e-flat.e-disabled,
    #{if(&, '&', '*')} .e-btn.e-today.e-flat.e-disabled:hover,
    #{if(&, '&', '*')} .e-btn.e-today.e-flat.e-disabled:active,
    #{if(&, '&', '*')} .e-btn.e-today.e-flat.e-disabled:focus,
    #{if(&, '&', '*')} .e-btn.e-today.e-flat.e-disabled:hover:active {
      background: $calendar-today-disabled-background-style;
      border-color: $calendar-today-disabled-border-style;
      box-shadow: $calendar-today-disabled-box-shadow;
      color: $calendar-today-disabled-color;
      cursor: $calendar-cursor-default-style;
      opacity: $calendar-disable-opacity;
      outline: $calendar-none-style;
      pointer-events: $calendar-none-style;
      touch-action: $calendar-none-style;
    }
  }

  .e-content-placeholder.e-calendar.e-placeholder-calendar {
    background-size: 250px 336px;
    min-height: 336px;
  }

  .e-bigger .e-content-placeholder.e-calendar.e-placeholder-calendar,
  .e-bigger.e-content-placeholder.e-calendar.e-placeholder-calendar {
    background-size: 300px 392px;
    min-height: 392px;
  }
}
