.e-bigger .e-ddl.e-popup .e-input-group .e-clear-icon {
  height: 36px;
}

.e-popup.e-ddl .e-dropdownbase {
  min-height: 26px;
}

.e-ddl.e-popup {
  border: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  margin-top: 1px;
}

.e-ddl.e-popup .e-content.e-nodata {
  background-color: #fff;
}

.e-ddl.e-popup .e-dropdownbase .e-list-item .e-highlight {
  color: #23726c;
}

.e-ddl.e-popup .e-input-group {
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.e-ddl.e-popup .e-input-group input {
  line-height: 15px;
}

.e-ddl.e-popup .e-input-group .e-clear-icon {
  border-radius: 20px;
  height: 20px;
  margin: 5px;
  min-width: 20px;
}

.e-ddl.e-popup .e-input-group .e-clear-icon::before {
  font-size: 10px;
}

.e-ddl.e-popup .e-filter-parent {
  border-left-width: 0;
  border-right-width: 0;
}

.e-ddl.e-popup .e-filter-parent .e-input-group.e-control-wrapper:hover:active {
  border-color: #000;
}

.e-bigger .e-ddl.e-popup.e-ddl-device.e-ddl-device-filter {
  margin-top: 0;
}

.e-bigger .e-ddl.e-popup .e-list-item,
.e-bigger .e-ddl.e-popup .e-list-group-item,
.e-bigger .e-ddl.e-popup .e-fixed-head {
  font-size: 15px;
  line-height: 45px;
  padding-left: 0;
  text-indent: 16px;
}

.e-bigger .e-ddl.e-popup .e-dd-group .e-list-item {
  padding-left: 4px;
}

.e-bigger .e-ddl.e-popup .e-input-group {
  padding: 4px 0;
}

.e-bigger .e-ddl.e-popup .e-input-group input {
  height: 30px;
}

.e-bigger.e-small .e-ddl.e-popup .e-list-item,
.e-bigger.e-small .e-ddl.e-popup .e-list-group-item,
.e-bigger.e-small .e-ddl.e-popup .e-fixed-head {
  font-size: 14px;
  line-height: 40px;
  padding-left: 0;
  text-indent: 16px;
}

.e-bigger.e-small .e-ddl.e-popup .e-dd-group .e-list-item {
  padding-left: 4px;
}

.e-bigger.e-small .e-ddl.e-popup .e-input-group {
  padding: 0;
}

.e-bigger.e-small .e-ddl.e-popup .e-input-group input {
  height: 34px;
}

@keyframes material-spinner-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fabric-spinner-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!component icons*/
.e-icon-check::before {
  content: '\e7ff';
}

.e-excelfilter .e-icon-filter::before {
  content: '\e21c';
}

.e-excelfilter .e-excl-filter-icon::before {
  content: '\e250';
}

.e-excelfilter .e-excl-filter-icon.e-filtered::before {
  content: '\e247';
}

.e-excelfilter .e-search-icon::before {
  content: '\e97d';
}

.e-excelfilter .e-chkcancel-icon::before {
  content: '\e7a7';
}

.e-excelfilter .e-sortascending::before {
  content: '\e734';
}

.e-excelfilter .e-sortdescending::before {
  content: '\e733';
}

/*! Excel-Filter layout */
.sf-grid .e-excelfilter .e-dlg-content {
  overflow: visible;
  padding: 0;
}

.sf-grid .e-excelfilter .e-searchcontainer {
  padding: 28px 25px 10px;
  padding-top: 4px;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu .e-ul .e-menu-item:not(.e-separator) {
  height: 26px;
  line-height: 26px;
}

.sf-grid .e-excelfilter .e-searchbox {
  padding-left: 0;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu .e-ul .e-separator {
  height: auto;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu .e-ul {
  position: absolute;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu {
  display: inline-block;
  position: relative;
  width: 100%;
}

.sf-grid-dlg.e-xlflmenu .e-xlfl-radiodiv {
  width: unset;
}

.e-xlflmenu {
  min-height: 314px;
}

.e-xlflmenu .e-xlfl-dlgfields {
  font-size: 15px;
}

.e-xlflmenu .e-xlfl-fieldset {
  font-size: 13px;
  padding-top: 9px;
}

.e-xlflmenu .e-xlfl-optr,
.e-xlflmenu .e-xlfl-value {
  padding-top: 12px;
}

.e-xlflmenu .e-xlfl-radio,
.e-xlflmenu .e-xlfl-mtcase {
  padding-top: 12px;
}

.e-xlflmenu .e-xlfl-optr:first-child {
  padding-right: 12px;
}

.e-xlflmenu .e-xlfl-table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.e-xlflmenu .e-radio + label .e-label {
  padding-left: 25px;
  padding-right: 8px;
}

.e-xlflmenu .e-checkbox-wrapper .e-frame + .e-label {
  margin-left: 6px;
}

.e-xlflmenu .e-dlg-content {
  padding-bottom: 5px;
}

.e-xlflmenu .e-xlfl-radiodiv {
  width: 118px;
}

.e-xlflmenu .e-xlfl-matchcasediv {
  margin-left: 0;
  margin-right: 13px;
}

.e-xlfl-radio-or,
.e-xlfl-matchcasediv {
  margin-left: 2px;
}

.e-emptyicon {
  opacity: 0;
}

.e-xlflmenu.e-rtl .e-xlfl-optr :first-child {
  padding-left: 12px;
}

.e-xlflmenu.e-rtl .e-radio + label .e-label {
  padding-left: 0;
  padding-right: 25px;
}

.e-xlflmenu.e-rtl .e-xlfl-radio-or {
  margin-left: 0;
  margin-right: 13px;
}

.e-bigger .e-xlflmenu {
  min-height: 372px;
}

.e-bigger .e-xlflmenu .e-xlfl-table {
  border-spacing: 0;
  width: 100%;
}

.e-bigger .e-xlflmenu .e-dlg-content {
  padding-bottom: 10px;
}

.e-bigger .e-xlflmenu .e-radio + label .e-label {
  padding-left: 28px;
  padding-right: 5px;
}

.e-bigger .e-xlflmenu .e-checkbox-wrapper .e-frame + .e-label {
  margin-left: 8px;
}

.e-bigger .e-xlflmenu .e-xlfl-radiodiv {
  width: 138px;
}

.e-bigger .e-xlflmenu .e-xlfl-radio-or,
.e-bigger .e-xlflmenu .e-xlfl-matchcasediv {
  margin-left: 18px;
}

.e-bigger .e-xlflmenu .e-xlfl-optr:first-child {
  padding-right: 16px;
}

.e-bigger .e-xlflmenu .e-xlfl-dlgfields {
  font-size: 16px;
}

.e-bigger .e-xlflmenu .e-xlfl-fieldset {
  font-size: 14px;
  padding-top: 12px;
}

.e-bigger .e-xlflmenu .e-xlfl-optr,
.e-bigger .e-xlflmenu .e-xlfl-value {
  padding-top: 16px;
}

.e-bigger .e-xlflmenu .e-xlfl-radio,
.e-bigger .e-xlflmenu .e-xlfl-mtcase {
  padding-top: 6px;
}

.e-bigger .e-excelfilter .e-xlflmenu,
.e-excelfilter.e-bigger .e-xlflmenu {
  min-height: 372px;
}

.e-bigger .e-excelfilter .e-ftrchk,
.e-excelfilter.e-bigger .e-ftrchk {
  padding-bottom: 12px;
  padding-top: 12px;
}

.e-bigger .e-excelfilter .e-contextmenu-wrapper ul li,
.e-bigger .e-excelfilter .e-contextmenu-container ul li,
.e-excelfilter.e-bigger .e-contextmenu-wrapper ul li,
.e-excelfilter.e-bigger .e-contextmenu-container ul li {
  height: 48px;
  line-height: 48px;
}

.e-bigger .e-excelfilter .e-contextmenu-wrapper ul li .e-menu-icon,
.e-bigger .e-excelfilter .e-contextmenu-container ul li .e-menu-icon,
.e-excelfilter.e-bigger .e-contextmenu-wrapper ul li .e-menu-icon,
.e-excelfilter.e-bigger .e-contextmenu-container ul li .e-menu-icon {
  height: 48px;
  line-height: 48px;
  margin-right: 10px;
}

.e-bigger .e-excelfilter .e-contextmenu-wrapper ul .e-menu-item .e-caret,
.e-excelfilter.e-bigger .e-contextmenu-wrapper ul .e-menu-item .e-caret {
  height: 48px;
  line-height: 48px;
}

.e-bigger .e-excelfilter .e-dlg-content,
.e-excelfilter.e-bigger .e-dlg-content {
  padding-left: 19.25px;
}

.e-bigger .e-excelfilter .e-ftrchk,
.e-bigger .e-excelfilter .e-searchbox,
.e-excelfilter.e-bigger .e-ftrchk,
.e-excelfilter.e-bigger .e-searchbox {
  padding-left: 12px;
}

.e-bigger .e-excelfilter.e-rtl .e-dlg-content,
.e-excelfilter.e-bigger.e-rtl .e-dlg-content {
  padding-left: 31.25px;
  padding-right: 19.25px;
}

.e-bigger .e-excelfilter.e-rtl .e-ftrchk,
.e-bigger .e-excelfilter.e-rtl .e-searchbox,
.e-excelfilter.e-bigger.e-rtl .e-ftrchk,
.e-excelfilter.e-bigger.e-rtl .e-searchbox {
  padding-left: 0;
  padding-right: 12px;
}

.e-excelfilter .e-checkboxlist {
  height: 200px;
  margin-top: 5px;
  min-height: 160px;
  overflow-y: auto;
}

.e-excelfilter .e-checkboxfiltertext {
  width: 150px;
  word-break: normal;
}

.e-excelfilter .e-chk-hidden {
  -moz-appearance: none;
  height: 1px;
  opacity: 0;
  width: 1px;
}

.e-excelfilter .e-contextmenu-wrapper,
.e-excelfilter .e-contextmenu-wrapper ul {
  display: block;
}

.e-excelfilter .e-contextmenu-wrapper ul {
  padding-bottom: 4px;
  position: static;
}

.e-excelfilter .e-contextmenu-wrapper ul li,
.e-excelfilter .e-contextmenu-container ul li {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-contextmenu-wrapper ul li .e-menu-icon,
.e-excelfilter .e-contextmenu-container ul li .e-menu-icon {
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
}

.e-excelfilter.e-rtl .e-contextmenu-wrapper ul li .e-menu-icon {
  margin-right: 0;
}

.e-excelfilter .e-contextmenu-wrapper ul .e-menu-item .e-caret {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-contextmenu-wrapper ul,
.e-excelfilter .e-contextmenu-container ul:not(.e-ul) {
  border: 0;
  box-shadow: none;
  max-width: 300px;
  padding-bottom: 4px;
  position: static;
}

.e-excelfilter .e-footer-content {
  border-style: solid;
  border-width: 0;
}

.e-excelfilter .e-excel-menu {
  z-index: 1000;
}

.e-excelfilter .e-dlg-content {
  padding-top: 0;
}

.e-excelfilter .e-contextmenu-wrapper,
.e-excelfilter .e-contextmenu-wrapper ul {
  display: block;
}

.e-excelfilter .e-contextmenu-wrapper ul {
  padding-bottom: 4px;
  position: static;
}

.e-excelfilter .e-contextmenu-wrapper ul li
.e-contextmenu-container ul li {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-contextmenu-wrapper ul li .e-menu-icon,
.e-excelfilter .e-contextmenu-container ul li .e-menu-icon {
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
}

.e-excelfilter.e-rtl .e-contextmenu-wrapper ul li .e-menu-icon {
  margin-right: 0;
}

.e-excelfilter .e-contextmenu-wrapper ul .e-menu-item .e-caret {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-footer-content {
  border-style: solid;
  border-width: 0;
}

.e-excelfilter .e-excel-menu {
  z-index: 1000;
}

.e-excelfilter .e-dlg-content {
  padding-top: 0;
}

.e-excelfilter .e-xlsel {
  border: 0 solid;
  position: absolute;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.e-excelfilter .e-dlg-content {
  padding-left: 18px;
}

.e-excelfilter .e-ftrchk,
.e-excelfilter .e-searchbox {
  padding-left: 7px;
}

.e-excelfilter.e-rtl .e-dlg-content {
  padding-left: 25px;
  padding-right: 18px;
}

.e-excelfilter.e-rtl .e-ftrchk,
.e-excelfilter.e-rtl .e-searchbox {
  padding-left: 0;
  padding-right: 7px;
}

.e-excelfilter .e-searchbox {
  display: block;
}

.e-ftrchk {
  padding-bottom: 7px;
  padding-top: 7px;
}

/*! Excel-Filter theme */
.e-excelfilter .e-footer-content {
  border-color: #757575;
  opacity: 1;
}

.e-excelfilter .e-filtered::before {
  color: #400074;
}

.e-excelfilter .e-dlg-content {
  padding-bottom: 0;
}

li.e-separator.e-menu-item.e-excel-separator {
  margin-bottom: 0;
  margin-top: 0;
}

.e-xlsel {
  background-color: #400074;
  border-color: #400074;
}
