@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@keyframes e-input-ripple {
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes slideTopUp {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }
  to {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.e-ddl.e-control-wrapper .e-ddl-icon::before {
  transform: rotate(0deg);
  transition: transform 300ms ease;
}

.e-ddl.e-control-wrapper.e-icon-anim .e-ddl-icon::before {
  transform: rotate(180deg);
  transition: transform 300ms ease;
}

.e-dropdownbase .e-list-item.e-active.e-hover {
  color: #e3165b;
}

.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:active,
.e-input-group:not(.e-disabled) .e-control.e-dropdownlist ~ .e-ddl-icon:hover,
.e-input-group:not(.e-disabled) .e-back-icon:active,
.e-input-group:not(.e-disabled) .e-back-icon:hover,
.e-popup.e-ddl .e-input-group:not(.e-disabled) .e-clear-icon:active,
.e-popup.e-ddl .e-input-group:not(.e-disabled) .e-clear-icon:hover {
  background: transparent;
}

.e-input-group .e-ddl-icon:not(:active)::after {
  animation: none;
}

.e-ddl.e-popup {
  border: 0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-top: 2px;
}

.e-popup.e-ddl .e-dropdownbase {
  min-height: 26px;
}

.e-bigger .e-popup.e-ddl-device-filter .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
  border-color: #e0e0e0;
}

.e-bigger .e-popup.e-ddl-device-filter {
  margin-top: 0;
}

.e-bigger .e-ddl-device .e-input-group,
.e-bigger .e-ddl-device .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
  background: #f5f5f5;
  border-width: 0;
  box-shadow: none;
  margin-bottom: 0;
}

.e-bigger .e-ddl-device .e-input-group .e-back-icon,
.e-bigger .e-ddl-device .e-input-group input.e-input,
.e-bigger .e-ddl-device .e-input-group .e-clear-icon {
  background-color: #f5f5f5;
}

.e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon {
  margin: 6px 6px 5px;
  min-height: 12px;
  min-width: 12px;
  padding: 6px;
}

.e-bigger .e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon,
.e-bigger.e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon {
  min-height: 16px;
  min-width: 16px;
}

.e-bigger .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-filter,
.e-bigger.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-filter {
  padding: 8px 16px 8px 0;
}

.e-input-group.e-ddl,
.e-input-group.e-ddl .e-input,
.e-input-group.e-ddl .e-ddl-icon {
  background: transparent;
}

.e-ddl.e-ddl-device.e-ddl-device-filter .e-input-group:hover:not(.e-disabled):not(.e-float-icon-left),
.e-ddl.e-ddl-device.e-ddl-device-filter .e-input-group.e-control-wrapper:hover:not(.e-disabled):not(.e-float-icon-left) {
  border-bottom-width: 0;
}

.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-small .e-clear-icon,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon,
.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-input-focus.e-small .e-clear-icon,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-input-focus .e-clear-icon,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-input-focus .e-clear-icon {
  margin: 0;
}

.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group .e-input-filter,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group .e-input-filter,
.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-small .e-input-filter,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-input-focus .e-input-filter,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-input-focus .e-input-filter,
.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-small.e-input-focus .e-input-filter {
  padding: 5px 5px 5px 12px;
}

.e-bigger.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon,
.e-bigger.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-input-group .e-clear-icon,
.e-bigger .e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-small .e-clear-icon,
.e-bigger.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-small .e-clear-icon,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-bigger .e-clear-icon,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-bigger .e-clear-icon,
.e-popup.e-ddl:not(.e-ddl-device) .e-input-group.e-bigger.e-small .e-clear-icon {
  min-height: 18px;
  min-width: 18px;
}

.e-bigger.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group .e-input-filter,
.e-bigger.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group .e-input-filter,
.e-bigger .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-small .e-input-filter,
.e-bigger.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-small .e-input-filter,
.e-small .e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-bigger .e-input-filter,
.e-small.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-bigger .e-input-filter,
.e-popup.e-ddl:not(.e-ddl-device) .e-filter-parent .e-input-group.e-bigger.e-small .e-input-filter {
  padding: 8px 16px;
}

.e-ddl.e-popup.e-outline .e-filter-parent {
  padding: 4px 8px;
}

@keyframes material-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fabric-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!component icons*/
.e-icon-check::before {
  content: '\e7ff';
}

.e-excelfilter .e-icon-filter::before {
  content: '\e7ee';
}

.e-excelfilter .e-excl-filter-icon::before {
  content: '\e251';
}

.e-excelfilter .e-excl-filter-icon.e-filtered::before {
  content: '\e248';
}

.e-excelfilter .e-search-icon::before {
  content: '\e993';
}

.e-excelfilter .e-chkcancel-icon::before {
  content: '\e7a7';
}

.e-excelfilter .e-sortascending::before {
  content: '\e734';
}

.e-excelfilter .e-sortdescending::before {
  content: '\e733';
}

/*! Excel-Filter layout */
.sf-grid .e-excelfilter .e-dlg-content {
  overflow: visible;
  padding: 0;
}

.sf-grid .e-excelfilter .e-searchcontainer {
  padding: 18px;
  padding-top: 4px;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu .e-ul .e-menu-item:not(.e-separator) {
  height: 26px;
  line-height: 26px;
}

.sf-grid .e-excelfilter .e-searchbox {
  padding-left: 0;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu .e-ul .e-separator {
  height: auto;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu .e-ul {
  position: absolute;
}

.sf-grid .e-excelfilter .e-contextmenu-container.e-sfcontextmenu {
  display: inline-block;
  position: relative;
  width: 100%;
}

.sf-grid-dlg.e-xlflmenu .e-xlfl-radiodiv {
  width: unset;
}

.e-xlflmenu {
  min-height: 295px;
}

.e-xlflmenu .e-xlfl-dlgfields {
  font-size: 17px;
}

.e-xlflmenu .e-xlfl-fieldset {
  font-size: 14px;
  padding-top: 15px;
}

.e-xlflmenu .e-xlfl-optr,
.e-xlflmenu .e-xlfl-value {
  padding-top: 12px;
}

.e-xlflmenu .e-xlfl-radio,
.e-xlflmenu .e-xlfl-mtcase {
  padding-top: 12px;
}

.e-xlflmenu .e-xlfl-optr:first-child {
  padding-right: 12px;
}

.e-xlflmenu .e-xlfl-table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.e-xlflmenu .e-radio + label .e-label {
  padding-left: 23px;
  padding-right: 13px;
}

.e-xlflmenu .e-checkbox-wrapper .e-frame + .e-label {
  margin-left: 6px;
}

.e-xlflmenu .e-dlg-content {
  padding-bottom: 6px;
}

.e-xlflmenu .e-xlfl-radiodiv {
  width: 117px;
}

.e-xlflmenu .e-xlfl-matchcasediv {
  margin-left: 0;
  margin-right: 13px;
}

.e-xlfl-radio-or,
.e-xlfl-matchcasediv {
  margin-left: 13px;
}

.e-emptyicon {
  opacity: 0;
}

.e-xlflmenu.e-rtl .e-xlfl-optr :first-child {
  padding-left: 12px;
}

.e-xlflmenu.e-rtl .e-radio + label .e-label {
  padding-left: 0;
  padding-right: 25px;
}

.e-xlflmenu.e-rtl .e-xlfl-radio-or {
  margin-left: 0;
  margin-right: 13px;
}

.e-bigger .e-xlflmenu {
  min-height: 396px;
}

.e-bigger .e-xlflmenu .e-xlfl-table {
  border-spacing: 0;
  width: 100%;
}

.e-bigger .e-xlflmenu .e-dlg-content {
  padding-bottom: 8px;
}

.e-bigger .e-xlflmenu .e-radio + label .e-label {
  padding-left: 28px;
  padding-right: 5px;
}

.e-bigger .e-xlflmenu .e-checkbox-wrapper .e-frame + .e-label {
  margin-left: 8px;
}

.e-bigger .e-xlflmenu .e-xlfl-radiodiv {
  width: 137px;
}

.e-bigger .e-xlflmenu .e-xlfl-radio-or,
.e-bigger .e-xlflmenu .e-xlfl-matchcasediv {
  margin-left: 18px;
}

.e-bigger .e-xlflmenu .e-xlfl-optr:first-child {
  padding-right: 16px;
}

.e-bigger .e-xlflmenu .e-xlfl-dlgfields {
  font-size: 18px;
}

.e-bigger .e-xlflmenu .e-xlfl-fieldset {
  font-size: 15px;
  padding-top: 20px;
}

.e-bigger .e-xlflmenu .e-xlfl-optr,
.e-bigger .e-xlflmenu .e-xlfl-value {
  padding-top: 16px;
}

.e-bigger .e-xlflmenu .e-xlfl-radio,
.e-bigger .e-xlflmenu .e-xlfl-mtcase {
  padding-top: 16px;
}

.e-bigger .e-excelfilter .e-xlflmenu,
.e-excelfilter.e-bigger .e-xlflmenu {
  min-height: 396px;
}

.e-bigger .e-excelfilter .e-ftrchk,
.e-excelfilter.e-bigger .e-ftrchk {
  padding-bottom: 13px;
  padding-top: 13px;
}

.e-bigger .e-excelfilter .e-contextmenu-wrapper ul li,
.e-bigger .e-excelfilter .e-contextmenu-container ul li,
.e-excelfilter.e-bigger .e-contextmenu-wrapper ul li,
.e-excelfilter.e-bigger .e-contextmenu-container ul li {
  height: 48px;
  line-height: 48px;
}

.e-bigger .e-excelfilter .e-contextmenu-wrapper ul li .e-menu-icon,
.e-bigger .e-excelfilter .e-contextmenu-container ul li .e-menu-icon,
.e-excelfilter.e-bigger .e-contextmenu-wrapper ul li .e-menu-icon,
.e-excelfilter.e-bigger .e-contextmenu-container ul li .e-menu-icon {
  height: 48px;
  line-height: 48px;
  margin-right: 15px;
}

.e-bigger .e-excelfilter .e-contextmenu-wrapper ul .e-menu-item .e-caret,
.e-excelfilter.e-bigger .e-contextmenu-wrapper ul .e-menu-item .e-caret {
  height: 48px;
  line-height: 48px;
}

.e-bigger .e-excelfilter .e-dlg-content,
.e-excelfilter.e-bigger .e-dlg-content {
  padding-left: 11px;
}

.e-bigger .e-excelfilter .e-ftrchk,
.e-bigger .e-excelfilter .e-searchbox,
.e-excelfilter.e-bigger .e-ftrchk,
.e-excelfilter.e-bigger .e-searchbox {
  padding-left: 13px;
}

.e-bigger .e-excelfilter.e-rtl .e-dlg-content,
.e-excelfilter.e-bigger.e-rtl .e-dlg-content {
  padding-left: 24px;
  padding-right: 11px;
}

.e-bigger .e-excelfilter.e-rtl .e-ftrchk,
.e-bigger .e-excelfilter.e-rtl .e-searchbox,
.e-excelfilter.e-bigger.e-rtl .e-ftrchk,
.e-excelfilter.e-bigger.e-rtl .e-searchbox {
  padding-left: 0;
  padding-right: 13px;
}

.e-excelfilter .e-checkboxlist {
  height: 200px;
  margin-top: 5px;
  min-height: 160px;
  overflow-y: auto;
}

.e-excelfilter .e-checkboxfiltertext {
  width: 150px;
  word-break: normal;
}

.e-excelfilter .e-chk-hidden {
  -moz-appearance: none;
  height: 1px;
  opacity: 0;
  width: 1px;
}

.e-excelfilter .e-contextmenu-wrapper,
.e-excelfilter .e-contextmenu-wrapper ul {
  display: block;
}

.e-excelfilter .e-contextmenu-wrapper ul {
  padding-bottom: 4px;
  position: static;
}

.e-excelfilter .e-contextmenu-wrapper ul li,
.e-excelfilter .e-contextmenu-container ul li {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-contextmenu-wrapper ul li .e-menu-icon,
.e-excelfilter .e-contextmenu-container ul li .e-menu-icon {
  height: 36px;
  line-height: 36px;
  margin-right: 12px;
}

.e-excelfilter.e-rtl .e-contextmenu-wrapper ul li .e-menu-icon {
  margin-right: 0;
}

.e-excelfilter .e-contextmenu-wrapper ul .e-menu-item .e-caret {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-contextmenu-wrapper ul,
.e-excelfilter .e-contextmenu-container ul:not(.e-ul) {
  border: 0;
  box-shadow: none;
  max-width: 300px;
  padding-bottom: 4px;
  position: static;
}

.e-excelfilter .e-footer-content {
  border-style: solid;
  border-width: 1px 0 0;
}

.e-excelfilter .e-excel-menu {
  z-index: 1000;
}

.e-excelfilter .e-dlg-content {
  padding-top: 0;
}

.e-excelfilter .e-contextmenu-wrapper,
.e-excelfilter .e-contextmenu-wrapper ul {
  display: block;
}

.e-excelfilter .e-contextmenu-wrapper ul {
  padding-bottom: 4px;
  position: static;
}

.e-excelfilter .e-contextmenu-wrapper ul li
.e-contextmenu-container ul li {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-contextmenu-wrapper ul li .e-menu-icon,
.e-excelfilter .e-contextmenu-container ul li .e-menu-icon {
  height: 36px;
  line-height: 36px;
  margin-right: 12px;
}

.e-excelfilter.e-rtl .e-contextmenu-wrapper ul li .e-menu-icon {
  margin-right: 0;
}

.e-excelfilter .e-contextmenu-wrapper ul .e-menu-item .e-caret {
  height: 36px;
  line-height: 36px;
}

.e-excelfilter .e-footer-content {
  border-style: solid;
  border-width: 1px 0 0;
}

.e-excelfilter .e-excel-menu {
  z-index: 1000;
}

.e-excelfilter .e-dlg-content {
  padding-top: 0;
}

.e-excelfilter .e-xlsel {
  border: 0 solid;
  position: absolute;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.e-excelfilter .e-dlg-content {
  padding-left: 9px;
}

.e-excelfilter .e-ftrchk,
.e-excelfilter .e-searchbox {
  padding-left: 9px;
}

.e-excelfilter.e-rtl .e-dlg-content {
  padding-left: 18px;
  padding-right: 9px;
}

.e-excelfilter.e-rtl .e-ftrchk,
.e-excelfilter.e-rtl .e-searchbox {
  padding-left: 0;
  padding-right: 9px;
}

.e-excelfilter .e-searchbox {
  display: block;
}

.e-ftrchk {
  padding-bottom: 9px;
  padding-top: 9px;
}

/*! Excel-Filter theme */
.e-excelfilter .e-footer-content {
  border-color: rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.e-excelfilter .e-filtered::before {
  color: #e3165b;
}

.e-excelfilter .e-dlg-content {
  padding-bottom: 0;
}

li.e-separator.e-menu-item.e-excel-separator {
  margin-bottom: 4px;
  margin-top: 4px;
}

.e-xlsel {
  background-color: #e3165b;
  border-color: #e3165b;
}
